{% extends 'global/base.html' %}

{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container pt-4 bg-white  mt-5 rounded p-5 card shadow mb-5" >
  <h1 class="card-title text-color-primary strong">{% trans "Sign Out" %}</h1>
  <p>{% trans 'Are you sure you want to sign out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <button type="submit" class="btn-primary px-5 py-1 rounded pointer">{% trans 'Sign Out' %}</button>
  </form>
</div>
{% endblock %}
